
  <!-- =============================================== -->
  <%- include('../partials/adminHeader') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Admin dashboard
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Drug</a></li>
      </ol>
    </section>


	    <!-- Main content -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
  <%- include('../partials/adminFooter') %>